a {
    color: #eb6864;
    text-decoration: none;
  
    &:visited {
      color: darken(#eb6864, 10%);
    }
  
    &:hover {
      color: #e22620;
      text-decoration: underline;
    }

	&.italics {
		font-style: italic;
	}
}

.container-narrow {
	width: 840px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.body{
	color: #171717;
}

.title {
	background-color: #eeeeee;
	border-radius: 8px;
}


.title-deprecated {
	clear: right;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 0px;
	padding-bottom: 10px;
	margin-top: 20px;
	margin-bottom: 15px;
	background-color: #eeeeee;
	border-radius: 8px;
}

.section-header {
	color: #eb6864;
	font-size: 1.2em;
}

h2 span {
	font-size: 0.8em;
	word-spacing: -0.05em;
	color: #555555;
}

.content {
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: 12px;
	border-bottom: 1px solid #dddddd;
}

img.displayed {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 350px;
}

ul {
	padding-left: 20px;
}

ul.pub {
	padding-left: 20px;
	list-style: circle;
}

.muted {
	color: #888888;
	font-style: italic;
}

.boxed {
    color: #171717;
    border:1px solid #dddddd;
    border-radius:25px;
}

.info-label {
	cursor: pointer;
	display: inline-flex;
	align-items: baseline;
	user-select: none;
}

.info-label svg {
	width: 20px;
	height: 20px;
	vertical-align: text-bottom;
}

.info-icon {
	width: 20px;
	height: 20px;
	transition: stroke 0.2s ease-in-out;
}

/* Darken on hover */
.info-icon:hover path[stroke] {
	stroke: #e22620;
}

.info-icon:hover path[fill] {
	fill: #e22620;
}

.info-text {
	display: none;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #333;
	font-size: 14px;
	user-select: none;
}

#info-toggle:checked + .info-text {
	display: block;
}