---
---

@import "minima";

$brand-color: #eb6864;

a {
    color: $brand-color;
    text-decoration: none;
  
    &:visited {
      color: darken($brand-color, 10%);
    }
  
    &:hover {
      color: $text-color;
      text-decoration: underline;
    }

    &.author-link {
        color: $grey-color;
    }
}

.reference-block {
  font-size: 14px;
}

blockquote {
  font-style: inherit;
}

img + em { 	
  display: block; 
  text-align: center; 
}

li > ol {
  list-style-type: lower-alpha;
}